* {
	box-sizing: border-box;
	font-family: Helvetica, Arial;
}

body {
	background-image: url("https://ak.picdn.net/shutterstock/videos/25150022/thumb/1.jpg");
	 background-size: cover;
	
}
.container {
	width: 100%
	height:100%;
	
}

.logo img {
	width: 30px;
	margin-top: -7px;
	margin-right: 48px;
}

}
#header {
        background-color: none;
        color: black;
    	width: 100%;
    	text-align: right;
 	float: left;
  	color: #7c7b85;
  	text-align: center;
  	padding: 14px 16px;
  	text-decoration: none;
  	text-align: left;
  	font-weight: bold;
  	color:grey;
	  
}

.search {
	display: flex;
	text-align: left;
	justify-content: space-between;
	padding: 14px 16px;
	color: blue;
} 


p {
	font-family: "Times New Roman";
}

#content {
	position: absolute;
	line-height: 1.5;
	text-align:c entre;
	font-family: 'Heebo Black', sans-serif;
	letter-spacing: 3px;
	color: black;
	position: relative;
	font-size: 100%;
}

h2 {
	width: 100%;
	text-align: left;
        display; block;
	
}